<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá, <span th:text="${clienteSalvo.nome}"></span>
<p></p>
<p>Agora você já pode acessar a "Área do Cliente" da Fácil Brasil!</p>
<br></br>
<p>Para acessar utilize os dados fornecidos abaixo:</p>
<p></p>
<p>http://cadastro.facilbrasil.com/</p>
<p></p>
<br>Entre com o seu usuário e senha abaixo:</br>
<br></br>
<p>Usuário: <span th:text="${usuario.usuario}"></span> </p>
<p>Senha: <span th:text="${usuario.lembrete}"></span> </p>
<br></br>
<br></br>
<p>Atenciosamente,</p>
<p>Fácil Brasil Contact Center</p>
</body>
</html>