<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá, </p>
<p></p>
<p>Houve uma Solicitação de Atendimento via Mensagem</p>
<br></br>
<p>Nome: <span th:text="${mensagemSalvo.nome}"></span> </p>
<p>Email: <span th:text="${mensagemSalvo.email}"></span> </p>
<p>Assunto: <span th:text="${mensagemSalvo.assunto}"></span> </p>
<br></br>
<br></br>
<p>Mensagem:</p>
<p><span th:text="${mensagemSalvo.mensagem}"></span> </p>
<br></br>
<br></br>
<p>Fácil Brasil Contact Center</p>

</body>
</html>