<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá, </p>
<p></p>
<p>Houve uma solicitação para que a Fácil Brasil entre em contato via telefone!</p>
<br></br>
<p>Nome: <span th:text="${contatoSalvo.nome}"></span> </p>
<p>Telefone: <span th:text="${contatoSalvo.telefone}"></span> </p>
<p>CPF / CNPJ: <span th:text="${contatoSalvo.cpfCnpj}"></span> </p>
<p>Horário para ligação: <span th:text="${contatoSalvo.horario}"></span> </p>
<br></br>
<br></br>
<p>Fácil Brasil Contact Center</p>

</body>
</html>