<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá, <span th:text="${clienteSalvo.nome}"></span> </p>
<p>Razão Social: <span th:text="${clienteSalvo.rzoSocial}"></span> </p>
<p>CNPJ: <span th:text="${clienteSalvo.cnpj}"></span> </p>
<br></br>
<p>Estamos felizes com o seu cadastro</p>
<p>Aguarde o email do setor comercial com seu login para acesso a área do cliente</p>
<br></br>
<p>Desde já, a Fácil Brasil agradece a sua confiança e preferência em nosso trabalho.</p>
<p>Você tomou a decisão certa!</p>
<br></br>
<br></br>
<p>Fácil Brasil Contact Center</p>

</body>
</html>