<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá, o cliente: <span th:text="${clienteSalvo.nome}"></span> Tentou importar seus titúlos no ftp e não foi possivel! </p>

<p>Fácil Brasil Contact Center</p>

</body>
</html>