<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá, </p>
<p></p>
<p>Houve uma nova adesão a parceria</p>
<br></br>
<p>Cliente: <span th:text="${clienteSalvo.nome}"></span> </p>
<p>Email: <span th:text="${clienteSalvo.email}"></span> </p>
<p>Razão Social: <span th:text="${clienteSalvo.rzoSocial}"></span> </p>
<p>CNPJ: <span th:text="${clienteSalvo.cnpj}"></span> </p>
<p>Telefone: <span th:text="${clienteSalvo.telefone}"></span> </p>
<br></br>
<br></br>
<p>Fácil Brasil Contact Center</p>

</body>
</html>