<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
table {background-color:transparent;border-collapse:collapse;width:100%;}
table th, table td {text-align:center;border:1px solid black;padding:5px;}
table th {background-color:#d8af04;}
table td:first-child {width:20%;}
</style>
</head>
<body style="font-family: Arial; font-size: 14px;">
<p>Olá!</p>

<p>Existem títulos criados hoje. Veja:</p>

<p>
    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>CPF / CNPJ</th>
                 <th>CONTRATO/CONTA</th> 
                <th>DATA DE ENVIO/ENTRADA</th>
                 <th>VENCIMENTO DÍVIDA</th>            
                <th>SALDO A COBRAR</th>    
                 <th>CLASSE / LOJA/SETOR / SEMESTRE-ANO</th>
                 <th>EMAIL</th>                     
            </tr>
        </thead>
        
        <tbody>
            <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;"
                th:each="titulos: ${titulos}">
                <td th:text="${titulos.nome}"></td>
                <td th:text="${titulos.cpfCnpj}"></td>
                <td th:text="${titulos.contratoConta}"></td>                         
                <td th:text="${titulos.dataEnvioEntrada}" 
                     style="text-align: center;"></td>
                 <td th:text="${titulos.dataVencimentoDivida}" 
                    style="text-align: center;"></td> 
                <td th:text="${#numbers.formatDecimal(titulos.saldoACobrar, 0, 'POINT', 2, 'COMMA')}"></td> 
                <td th:text="${titulos.classeLojaSetor}"  ></td>
                 <td th:text="${titulos.email}"></td>   
            </tr>
        </tbody>
    </table>
</p>

<p>Obrigado.</p>
<p>Equipe Fácil Brasil!</p>

</body>
</html>