<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">


<p>Arquivo enviado, <span th:text="${arquivo}"></span> </p>
<p>Cliente: <span th:text="${cliente.nome}"></span> </p>
<p>Razão Social: <span th:text="${cliente.rzoSocial}"></span> </p>
<p>CNPJ: <span th:text="${cliente.cnpj}"></span> </p>
<br></br>

<p>Fácil Brasil Contact Center</p>

</body>
</html>